//COMPASS
@import "compass";
@import "compass/css3";
@import "compass/css3/images";

/* ==========================================
RESET BOOTSTRAP
========================================== */

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #dfdfdf;
}

/*========================================
 NO GUTTER SETUP
========================================*/



.row {
  &.no-gutter {
    margin-right: 0;
    margin-left: 0;
    > [class*='col-'] {
      position: inherit;
      padding-right: 0;
      padding-left: 0;
      > [class*='col-'] {
        position: inherit;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  &.rw-10 {
    margin-right: -5px;
    margin-left: -5px;
    > [class*='col-'] {
      position: inherit;
      padding-right: 5px;
      padding-left: 5px;
      > [class*='col-'] {
        position: inherit;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
  &.rw-13 {
    margin-right: -2px;
    margin-left: -2px;
    > [class*='col-'] {
      position: inherit;
      padding-right: 7px;
      padding-left: 7px;
    }
  }
  &.rw-15 > [class*='col-'] > [class*='col-'] {
    position: inherit;
    padding-right: 7px;
    padding-left: 7px;
  }
}

/*========================================
@ HEADING SETUP
========================================*/

h1, h2, h3, h4, h5 {
  font-weight: 400;
  line-height: normal;
  margin: 0 0 20px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  font-size: 14px;
}

/*========================================
@ LIST SETUP
========================================*/

ul {
  font-size: 14px;
  line-height: 21px;
  &.list-none {
    font-size: inherit;
    line-height: normal;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/*========================================
@ HYPERLINK SETUP
========================================*/

a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: #000;
  outline: none;
  &:hover, &:focus {
    text-decoration: none;
    opacity: 1;
    color: inherit;
    outline: 0;
  }
}

.wrapp-gold {
  overflow: hidden;
}

.gold {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  display: inline-block;
  min-width: 220px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  border: 1px solid;
  &:hover {
    border-color: transparent;
    background: #e2c022;
  }
}

/*========================================
@ GENERAL SETUP
========================================*/

html, body {
  font-family: 'proximanova-regular';
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  color: #312e2e;
  background-color: #fff;
}

.wrap-inner {
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .wrap-inner {
    padding: 0;
  }
}

/** SPACE
===================================*/

.space15 {
  display: block;
  width: 100%;
  height: 15px;
}

.space20 {
  display: block;
  width: 100%;
  height: 20px;
}

.space30 {
  display: block;
  width: 100%;
  height: 30px;
}

.space45 {
  display: block;
  width: 100%;
  height: 45px;
}

.space60 {
  display: block;
  width: 100%;
  height: 60px;
}

.space170 {
  display: block;
  width: 100%;
  height: 80px;
}

/*========================================
@ BUTTON SETUP
========================================*/

.btn {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 0;
  &:focus, &:active {
    outline: none;
  }
}

.btn-collapse {
  background: #5311a1;
  color: #fff;
  font-size: 21px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0 7px;
  &:hover, &:active, &:focus {
    color: #fff;
  }
}

/*========================================
@ FORM SETUP
========================================*/
.form-control:focus {
    border-color:#5311a1;
}

/*========================================
@ IMAGE SETUP
========================================*/

img {
  width: auto\9;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

/*========================================
@HEADER SETUP
========================================*/

.app-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.29);
}

/*========================================
@INTRO
========================================*/

/*.tes1{
width: 20%;
}

.tes1.logo{
width: 0%;
-webkit-transition: all .4s;
           -moz-transition: all .4s;
             -o-transition: all .4s;
                transition: all .4s;
}


.tes1.logo.open{
   width: 100%; 

}



.tes2{
width: 80%;
float: left;
}*/

.hero {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

@media (min-width: 1200px) {
  .hero {
    overflow: hidden;
    min-height: 720px;
    &.hero-menupg{
      min-height:560px; 
    }
  }
}

.hero-content {
  padding: 18%  0;
  text-align: center;
  color: white;
  &.menu-logo{
    padding:0;
    &.bannerPlate{
      @media (max-width: 1200px){
        padding: 18%  0;
      }
    }

    &.sm-font{
      h3{
        font-size: 27px;
      }
    }
  }
  h3 {
    font-family: 'BodoniSvtyTwoSCITCTT-Book';
    font-size: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  h1 {
    font-family: 'BodoniSvtyTwoSCITCTT-Book';
    font-size: 50px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  p {
    font-family: 'proximanova-regular';
    text-transform: uppercase;
  }
}

.logo-banner{
    margin-bottom: 15px;
}

.logo-banner.inner-page{
    margin-bottom:50px;
}

.logo-banner.home.inner-page{
    margin-bottom:15px;
    margin-top:95px;
}


.logo-banner.menupg.inner-page{
    margin-bottom:50px;
    margin-top:95px;
}

@media (min-width: 1200px) {
  .hero.second {
    overflow: hidden;
    min-height: 350px;
  }
}

.hero.second .hero-content {
  .title-area {
    margin: 0;
  }
  .logo-banner {
    margin: -130px;
  }
}

@media (max-width: 1200px) {
  .hero.second .hero-content .title-area {
    margin: 13% 0 13% 11%;
  }
}

@media (max-width: 767px) {
  .hero.second .hero-content .title-area {
    margin: 40% 0 13% 11%;
  }
}

@media (max-width: 1200px) {
  .hero.second .hero-content .logo-banner {
    float: left;
    margin: 0 0 0 15%;
  }
}

@media (max-width: 480px) {
  .hero.second .hero-content .logo-banner {
    float: none;
    margin: 0;
  }
}

.cover {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  @media (min-width: 1200px){
    padding-bottom:90px;
  }
}

.special, .outter {
  position: relative;
}

@media (max-width: 480px) {
  .special {
    margin-left: 18%;
  }
}

/*
.special .leaf{
    position: absolute;
}
*/

/*========================================
@OUTTER
========================================*/

/*========================================
@TOP-INTRO
========================================*/
@media (min-width: 1200px) {
  .top-intro {
    width: 50em;
  }
}

.top-intro {
  margin: auto;
  margin-top: -130px;
  padding-left: 167px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .top-intro {
    margin-top: -100px;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .top-intro {
    margin-top: -40px;
    padding: 0;
  }
}

.top-intro-float-left, .bottom-right {
  display: none;
}

@media (min-width: 1200px) {
  .top-intro-float-left {
    position: absolute;
    display: block;
    width: 20em;
  }
}

@media (min-width: 1200px) {
  .bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 20em;
  }
}

/*========================================
@INTRO-TEXT
========================================*/

.intro-text-content {
  max-width: 790px;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

.title-area {
  position: relative;
  margin-left: 140px;
  text-align: left;
  &.met-cuisine {
    margin-left: 0;
    text-align: left;
    &.title-bottom {}
    .title-bottom {
      
      color: #fff;
    }
  }
}

@media (max-width: 480px) {
  .title-area {
    margin-left: 50px;
  }
}

.leaf {
  position: absolute;
  bottom: 0;
  left: -45px;
  width: 50px;
}

.leaf-transparent {
  /*
     width: 17em;
     margin: auto;*/
  text-align: center;
  padding:50px 0;
}

.title-top {
  font-family: 'BodoniSvtyTwoSCITCTT-Book';
  font-size: 32px;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
  color: #e2c022;
}

@media (max-width: 480px) {
  .title-top {
    font-size: 22px;
  }
}

.title-bottom {
  font-family: 'BodoniSvtyTwoSCITCTT-Book';
  font-size: 60px;
  line-height: .67em;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #5311a1;
}

@media (max-width: 480px) {
  .title-bottom {
    font-size: 40px;
  }
}

/*========================================
@DOUBLE CONTENT
========================================*/

.double-content {
  position: relative;
  margin-bottom: 11em;
  margin-top: 70px;
  &.second {
    margin-top: 0;
  }
  &.inner {
    max-width: 950px;
    margin: auto;
  }
  .image, &.second .image {
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .double-content .image {
    margin-left: 160px;
  }
}

@media (min-width: 1200px) {
  .double-content.second .image {
    margin: 0;
  }
}

.box {
  position: relative;
  max-width: 540px;
  margin: auto;
  padding: 10px;
  border: 1px solid #dfdfdf;
  &.directions {
    max-width: 442px;
  }
}

@media (min-width: 1200px) {
  .box {
    position: absolute;
    top: 60px;
    /* left: 0;*/
    background: #fff;
  }
}

@media (min-width: 1200px) {
  .box.second {
    right: 0;
  }
}

@media (min-width: 1200px) {
  .box.directions {
    top: -36px;
    right: 6em;
  }
}

@media (max-width: 768px) {
  .box.directions {
    margin-top: 30px;
  }
}

.inner-box {
  padding: 15px;
  border: 1px solid #dfdfdf;
  .left-content {
    position: relative;
  }
  h3 {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-size: 30px;
    line-height: .99em;
    text-align: right;

    color: #601cb0;
  }
  &.second {
    .title {
      position: relative;
      text-align: center;
      &.footer {
        padding-top: 15px;
      }
    }
    h3 {
      display:inline-block;
      padding-top: 15px;
      margin-bottom: 30px;
    position:relative;
    color: #312e2e;
      &:before{
        content: '';
        background: url(../img/left-leaf-menu.png);
        position: absolute;
        height: 20px;
        background-repeat: no-repeat;
        width: 54px;
        left: -48px;
        top: 19px;
        display:block;
          @media (max-width: 768px){
            display:none;
          }
      }
      &:after{
        content: '';
        background: url(../img/right-leaf-menu.png);
        position: absolute;
        height: 24px;
        background-repeat: no-repeat;
        width: 48px;
        right: -48px;
        top: 19px;
        display:block;
          @media (max-width: 768px){
            display:none;
          }
      }

    }
  }
  &.directions h3 {
    text-align: left;
    text-transform: uppercase;
    font-size: 25px;
    color: #5311a1;
  }
}

.hostEventintro{
    font-family: 'proxima_novalight';
}

.hostEventintroCont{
    margin-bottom:40px;
}

@media (max-width: 400px) {
  .inner-box h3 {
    font-size: 18px;
    line-height: .99em;
  }
}

@media (max-width: 767px) {
  .inner-box h3 {
    text-align: center;
  }
}

.leaf2 {
  position: absolute;
  bottom: 7px;
}

@media (max-width: 767px) {
  .leaf2 {
    right: 0;
    left: -112px;
    text-align: center;
  }
}

.leaf3 {
  position: absolute;
  bottom: 6px;
  left: 0;
}

.leaf4 {
  position: absolute;
  right: 0;
  bottom: 6px;
}

/*========================================
@REVIEW
========================================*/

.inline-disp {
  .image-article {
    display: inline-block;
    float: left;
    max-width: 360px;
    margin: auto;
  }
  &.right .image-article {
    float: right;
  }
}

@media (max-width: 1200px) {
  .inline-disp.left {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
}

@media (max-width: 1200px) {
  .inline-disp.left.reviews {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    float: left;
  }
}

@media (max-width: 760px) {
  .inline-disp.left.reviews {
    float: none;
  }
}

@media (max-width: 760px) {
  .inline-disp.left {
    float: none;
    padding-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .inline-disp .image-article {
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .inline-disp.right {
    margin-bottom: 30px;
    float: left;
  }
}

@media (max-width: 760px) {
  .inline-disp.right {
    float: none;
    padding-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .inline-disp.right .image-article {
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 30px;
  }
}

.text-article {
  h3 {
    font-family: 'BodoniSvtyTwoSCITCTT-Book';
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  h5 {
    font-family: 'proxima_novalight';
    margin-bottom: 10px;

  }
  p{
    font-family: 'proxima_novalight';
    margin-bottom:40px;
  }
  a {
    font-size: 18px;
    font-family: 'BodoniSvtyTwoITCTT-Book';
    float: right;
  }
}

.inline-disp {
  .text-article {
    display: inline-block;
    float: left;
    max-width: 370px;
    margin-left: 30px;
    margin-top: 50px;
  }
  &.left.reviews, &.right.reviews {
    float: left;
    padding: 30px 0;
  }
  .text-article.reviews {
    max-width: 750px;
    margin-top: 0;
  }
  &.right .text-article.reviews {
    max-width: 750px;
  }
  .text-article.horizontal {
    margin-left: 0px;
    margin-top: 50px;
  }
  &.right .text-article {
    max-width: 330px;
    margin-left: 0px;
    margin-right: 30px;
    text-align: right;
  }
}

@media (max-width: 760px) {
  .inline-disp.left.reviews {
    float: none;
  }
}

@media (max-width: 760px) {
  .inline-disp.right.reviews {
    float: none;
  }
}

@media (max-width: 1200px) {
  .inline-disp .text-article.reviews {
    max-width: 320px;
  }
}

@media (max-width: 1200px) {
  .inline-disp.right .text-article.reviews {
    max-width: 330px;
  }
}

@media (max-width: 1200px) {
  .inline-disp .text-article.horizontal {
    margin-left: 30px;
  }
}

@media (max-width: 760px) {
  .inline-disp .text-article.horizontal {
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inline-disp .text-article {
    max-width: 320px;
  }
}

@media (max-width: 760px) {
  .inline-disp .text-article {
    float: none;
    margin: auto;
    display: block;
  }
}

@media (max-width: 760px) {
  .inline-disp.right .text-article {
    max-width: 370px;
    margin: auto;
    text-align: left;
    float: none;
    display: block;
  }
}

.article-content {
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .article-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*========================================
@FOOTER SETUP
========================================*/

.app-footer {
  padding-top: 80px;
}

.info {
        padding: 30px 0;
  .footer-logo {
    text-align: center;
  }
  h3 {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-weight: bold;
  }
  ul li {
    line-height: 2em;
    font-size: 16px;
    font-family: 'proxima_novalight';

    span {
      font-weight: bold;
      color: #87519e;
    }
    .card {
      padding-top: 25px;
    }
  }
}

.social-media {
  text-align: center;
  ul li a i {
    font-size: 18px;
    width: 40px;
    height: 40px;
    padding: 13px;
    text-align: center;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
    &.fa-facebook {
      background: #2f81dd;
      &:hover {
        background: #2f81dd;
      }
    }
    &.fa-twitter {
      background: #5ebcf7;
    }
    &.fa-instagram {
      background: #4a93c1;
    }
    &.fa-yelp {
      background: #c23149;
    }
  }
}

/*========================================
@NAVIGATION SETUP
========================================*/
.wrapp-top-menu{
    padding:20px 0; 
}

.menu {
  display: block;
  margin-left: 26px;
  padding: 12px;
  padding: 8px 15px;
  color: #fff;
  border: 1px solid;
  &:hover, &:focus {
    color: #bbbaba;
  }
}

@media (min-width: 1200px) {
  .navigation {
    padding: 30px 0 20px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .navigation {
    float: left;
    margin-left: 2em;
    text-align: left;
  }
}

.navigation ul li {
    border-left: 1px solid #fff;
  a {
    font-family: 'proximanova-regular';
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    color: #fff;
    line-height: 0.9em;
    // border-bottom: 4px solid transparent;
  }
  &.active a {
    color: #fff;
  }
}

@media (max-width: 1200px) {
  .navigation ul li {
  a {
    color: #312e2e;
  }
  &.active a {
    color: #312e2e;
  }
}  
}


.navigation ul li:first-child{
    border:none;
}

@media (min-width: 1200px){
.navigation ul li{
        padding-right: 10px;
    padding-left: 10px;
}
}

@media (max-width: 1200px){
.navigation ul li{
    border:none;

}
}


/*default max-width: 768px*/
@media (max-width: 1200px) {
  .navigation {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 184px;
    height: 100%;
    margin-left: 0;
    padding: 20px 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transform: translate3d(-205px, 0, 0);
    -moz-transform: translate3d(-205px, 0, 0);
    -ms-transform: translate3d(-205px, 0, 0);
    -o-transform: translate3d(-205px, 0, 0);
    transform: translate3d(-205px, 0, 0);
    border-right: 1px solid #eee;
    background-color: #fff;
    &.open {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    ul li {
      width: 100%;
      a {
        padding: 10px 20px;
        border: 0;
      }
      &.active a, &:hover a {
        border: 0;
        background-color: rgba(0, 0, 0, 0.29)
      }
    }
  }
}

/*========TAB==========*/

.nav-tabs.sub.second > li > a{
  border:none;
}

.nav-tabs > li > a {
    border:none;
}



.nav-tabs {
  border: none;
  > li.active > a {
    color: #E2C022;
    cursor: default;
    background: transparent;
    border-bottom: 4px solid #e2c022;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius:0;
    &:focus, &:hover {
      color: #E2C022;
      cursor: default;
      background: transparent;
      border-bottom: 4px solid #e2c022;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius:0;
    }
  }
  &.sub {
    > li.active > a {
      color: #312f2f;
      cursor: default;
      background: #e2c022;
      border-bottom: 1px solid #e2c022;
      border-radius: 0;
      border-top: 1px solid #e2c022;
      border-left: 1px solid #e2c022;
      border-right: 1px solid #e2c022;
      &:focus, &:hover {
        color: #312f2f;
        cursor: default;
        background: #e2c022;
        border-bottom: 1px solid #e2c022;
        border-radius: 0;
        border-top: 1px solid #e2c022;
        border-left: 1px solid #e2c022;
        border-right: 1px solid #e2c022;
      }
    }

    &.second > li.active > a {
      color: #5311a1;
      cursor: default;
      background: transparent;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 4px solid #5311a1;
      
    }
  }
}



// .nav-tabs.sub.second > li.active > a:focus, .nav-tabs.sub.second > li.active > a:hover{
//     color:#adadad;
// }

.nav {
  > li > a {
    color: #fff;
    font-family: 'proximanova-semibold-webfont';
    font-size: 18px;
  }
  &.sub {
    > li > a {
      color: #000;
      font-family: 'BodoniSvtyTwoITCTT-Book';
      font-size: 18px;
      font-weight: bold;
    }
    &.second > li > a {
      color: #adadad;
      font-family: 'proximanova-semibold-webfont';
      font-size: 18px;
      font-weight: bold;
      text-transform:none;
    }
  }
  > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
  }
}

.menu-tabs-bottom{
        padding: 50px 0;
}

.nav.menu-bottom li a{
    color:#484646;
}

.nav-tabs.menu-bottom > li.active > a, 
.nav-tabs.menu-bottom > li.active > a:focus, 
.nav-tabs.menu-bottom > li.active > a:hover{
 color:#484646;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .nav > li > a {
    font-size: 17px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .nav > li > a {
    font-size: 13px;
  }
}

.nav-tabs.sub {
  > li > a {
    border: 1px solid #000;
    border-radius: 0;
    font-weight:normal;
    text-transform: uppercase;
    font-size: 14px;
  }
  &.second > li > a {
    border: none;
  }
}

@media screen and (max-width: 479px) {
  .nav-tabs-responsive > li {
    display: none;
    width: 23%;
    > a {
      overflow: hidden;
      width: 100%;
      width: 100%;
      max-width: 100%;
      text-align: center;
      vertical-align: top;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: normal;
    }
    &.active {
      width: 54%;
      &:first-child {
        margin-left: 23%;
      }
      display: block;
    }
    &.prev, &.next {
      display: block;
    }
    &.prev {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    &.next {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      > a {
        -webkit-transition: none;
        transition: none;
      }
    }
    &.prev > a {
      -webkit-transition: none;
      transition: none;
    }
    &.next > a .text, &.prev > a .text {
      display: none;
    }
    &.next > a:after {
      font-family: 'fontawesome';
      font-weight: 400;
      font-style: normal;
      line-height: 1;
      position: relative;
      top: 1px;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &.prev > a:after {
      font-family: 'fontawesome';
      font-weight: 400;
      font-style: normal;
      line-height: 1;
      position: relative;
      top: 1px;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f104';
      font-size: 25px;
    }
    &.next > a:after {
      content: '\f105';
      font-size: 25px;
    }
    &.dropdown {
      > a {
        > .caret {
          display: none;
        }
        &:after {
          content: '\e114';
        }
      }
      &.active > a {
        &:after {
          display: none;
        }
        > .caret {
          display: inline-block;
        }
      }
      .dropdown-menu {
        &.pull-xs-left {
          right: auto;
          left: 0;
        }
        &.pull-xs-center {
          right: auto;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
        }
        &.pull-xs-right {
          right: 0;
          left: auto;
        }
      }
    }
  }
}

.wrapper {
  margin-top: -70px;
  &.sub {
    margin-top: 0;
  }
  &.menuFdl{
    margin:0;
  }
}

@media (min-width: 1200px){
.bs-example-tabs{
    &.menuFdlTop{
        max-width: 780px;
        margin: auto;
    }
}
}

@media (max-width: 1200px){
.bs-example-tabs{
    &.menuFdlTop{
        max-width: 580px;
        margin: auto;
    }
}
}



.bs-example-tabs .nav-tabs {
  margin-bottom: 20px;
  &.sub {
    margin-bottom: 35px;
  }
}

@media (min-width: 1200px) {
  .bs-example-tabs .nav-tabs {
    margin-bottom: 100px;
  }
}


  .bs-example-tabs.menuFdlTop .nav-tabs {
    margin-bottom: 30px;
  }


@media (max-width: 1200px) {
  .bs-example-tabs .nav-tabs {
    margin-bottom: 50px;
  }
}

.nameProd {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 20px;
  font-weight: bold;
}

/*============REVIEW==============*/

.title-area.review {
  float: right;
  margin-left: 0;
  margin-bottom: 40px;
  .title-review {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-size: 60px;
    line-height: .67em;
    margin-bottom: 10px;
    color: #312e2e;
    margin-right: 50px;
  }
  p {
    margin-right: 50px;
    font-family: 'proxima_novalight';

  
  }
  a {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-size: 25px;
    color: #312e2e;
    float: right;
  }
}

@media (max-width: 1200px) {
  .title-area.review .title-review {
    font-size: 50px;
    margin-right: 0px;
  }
}

@media (max-width: 1200px) {
  .title-area.review p {
    margin-right: 0px;
  }
}

/*=========SUBSCRIBES===========*/

.subscribes-area {
  margin-top: 60px;
  margin-bottom: 40px;
}

.title-area.subscribes {
  margin-left: 0;
  text-align: center;
  max-width: 400px;
  margin: auto;
  margin-bottom: 40px;

  p{
    font-family: 'proxima_novalight';
  }
  .title-subscribes {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-size: 60px;
    line-height: .67em;
    margin-bottom: 10px;
    color: #312e2e;
    margin-right: 0px;
  }
}

@media (max-width: 480px) {
  .title-area.subscribes .title-subscribes {
    font-size: 48px;
  }
}

.subscribes-form {
  max-width: 600px;
  margin: auto;
  position: relative;

  .submit a {
    background: #5311a1;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 20px;
    font-size: 20px;
    font-family: 'BodoniSvtyTwoITCTT-Book';
    text-transform: uppercase;
    color: #fff;
    &:hover {
      background: #49046b;
    }
  }
  .form-control {
    border-radius: 0;
    height: 60px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
     font-family: 'proxima_novalight';
     font-size: 19px;
  }
}

@media (max-width: 480px) {
  .subscribes-form .submit {
    max-width: 179px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .subscribes-form .submit a {
    position: relative;
    float: left;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .special.subscribes {
    margin-left: 0;
  }
}

/*=========map==========*/

#map-container {
  height: 500px;
}

.wrapp-map {
  position: relative;
}

/*===========contact=========*/

.intro-contact {
  padding: 40px 0 30px;
  .intro-contact-title {
    max-width: 550px;
    margin: auto;
    text-align: center;
    h3 {
      font-family: 'BodoniSvtyTwoITCTT-Book';
      font-size: 35px;
    }
    p {
        font-family: 'proxima_novalight';
    }
  }
}

.social-media.contact {
  margin-bottom: 30px;
  ul {
    max-width: 550px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid;
  }
}

.wrapp-box-form {
  max-width: 680px;
  margin: auto;
}

.box-form {
  border: 1px solid;
  padding: 45px;
  .message-intro {
    text-align: center;
    padding-bottom: 40px;
    max-width: 480px;
    margin: auto;

    p{
        font-family: 'proxima_novalight';
    }
  }
}

@media (max-width: 480px) {
  .box-form {
    padding: 7px;
  }
}

.title-wrapping {
  position: relative;
  max-width: 284px;
  margin: auto;
}

.box-form {
  .message-intro {
    h3 {
      font-family: 'BodoniSvtyTwoITCTT-Book';
      font-size: 30px;
    }
    p {}
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
  }
}

.golden {
  text-align: center;
  margin-top: 40px;
  &.attach {
    margin-top: 0;
    margin-bottom: 15px;
  }
  a {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    background: #e2c022;
    font-size: 16px;
    padding: 12px;
    text-transform: uppercase;
    display: inline-block;
    min-width: 200px;
    text-align: center;
    &:hover {
      background: #a18504;
    }
  }
  button {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    background: #e2c022;
    font-size: 16px;
    padding: 12px;
    display: inline-block;
    min-width: 200px;
    text-align: center;
    &:hover {
      background: #a18504;
    }
  }
}

/*============JOB==================*/

.intro-job {}

.job-details {
  max-width: 1000px;
  margin: auto;
}

.intro-contact-job {
  text-align: center;
  padding: 40px 0;
  h3 {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    color: #5311a1;
    font-size: 40px;
    text-transform: uppercase;
  }
  h5 {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-size: 16px;
  }
}

.content-detail {
  margin-bottom: 30px;
  .title-job {
    text-align: center;
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0;
  }
}

.wrap-inner-main-heading {
  margin-bottom: 30px;
}

.wrap-inner-title-jobs {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    border: 1px solid #5311a1;
    width: 100%;
    bottom: 6px;
  }
}

.job-title {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  background: #fff;
  padding-right: 5px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 20px;
}

.wrapp-collapse-toggle {
  display: inline-block;
  position: relative;
  background: #fff;
  padding-left: 5px;
  float: right;
}

.overlay {
  border: 1px solid #ebebeb;
  padding: 10px;
  margin-bottom: 30px;
  &:hover {
    border: 1px solid #5311a1;
  }
}

.inner-overlay {
  border: 1px solid #ebebeb; 
  padding: 50px;
  &:hover {
    border: 1px solid #5311a1;
    > {
      .on {
        display: block;
      }
      .off {
        display: none;
        opacity: 0;
      }
      h3 {
        color: #5311a1;
      }
    }
  }
}

.off {
  display: block;
  max-width: 100px;
  margin: auto;
  transition: all 2s linear;
}

.on {
  display: none;
  max-width: 100px;
  margin: auto;
  transition: all 2s linear;
}

.inner-overlay h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 25px;
  text-align: center;
  color: #ebebeb;
  padding:10px 0;
}

.select-date {
  max-width: 700px;
  margin: auto;
}

.form-control.date {
  border-radius: 0;
  height: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  /* -webkit-appearance: none;*/
}

.box-attach {
  border: 1px solid #ebebeb;
  max-width: 690px;
  margin: auto;
  padding: 20px;
  text-align: center;
  h5 {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    margin-bottom: 0;
    color: #898989;
  }
  h6 {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-style: italic;
    color: #d2d0d0;
  }
}

.content-detail .form-control {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  &.jobID {
    height: 40px;
  }
}

.form-jobID {
  padding: 30px 0;
  max-width: 690px;
  margin: auto;
}

.checkbox label, .radio label {
  font-family: 'BodoniSvtyTwoITCTT-Book';
}

.know-job {
  max-width: 690px;
  margin: auto;
  padding: 30px 0;
  .referred {
    padding: 20px 0;
    h5 {
      font-family: 'BodoniSvtyTwoITCTT-Book';
      line-height: 3em;
    }
  }
}

/*========HOST EVENTS=====*/

.sopFdl {

    margin-bottom: 80px;
}

.setupPart {
  position: relative;
  padding: 5% 0;
}

@media (min-width: 1200px) {
  .setupPart:before {
    content: '';
    background: #5311a1;
    position: absolute;
    width: 5px;
    height: 40px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .setupPart:after {
    content: '';
    width: 1px;
    height: 24em;
    position: absolute;
    background: #ccc;
    left: 0;
    right: 0;
    margin: auto;
    top: 96px;
  }
}

@media (min-width: 1200px) {
  .setupPart.last:after {
    height: 18em;
    
  }
}

.sopImage .img-content {
  text-align: center;
  margin-bottom: 30px;
  img {
    max-width: 293px;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .sopImage .img-content.left {
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .sopImage .img-content.left:before {
    content: '';
    /* background: #000; */
    position: absolute;
    width: 293px;
    height: 270px;
    border: 1px solid #ccc;
    bottom: 32px;
    /* left: 9em; */
                /*
z-index: -1;*/
    right: 70px;
  }
}

@media (min-width: 1200px) {
  .sopImage .img-content.right {
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .sopImage .img-content.right:before {
    content: '';
    /* background: #000; */
    position: absolute;
    width: 297px;
    height: 270px;
    border: 1px solid #ccc;
    bottom: 32px;
    /* left: 9em; */
                /*
z-index: -1;*/
    left: 70px;
  }
}

.sopDesc {
  .content-article {
    text-align: center;
  }
  h3 {
    font-family: 'proxima_novalight';
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h2 {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    text-transform: uppercase;
    color: #5311a1;
    font-weight: bold;
  }
  p{
    font-family: 'proxima_novalight';
  }
}

@media (min-width: 1200px) {
  .sopDesc .content-article.right {
    text-align: left;
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .sopDesc .content-article.left {
    text-align: right;
    margin-right: 20px;
  }
}

/*=============EVENTS page==========*/
/*
.hero-ue
    {
        padding:13em 0;
    }
*/
@media (min-width: 1200px) {
  .hero-ue {
    overflow: hidden;
    min-height: 420px;
    padding: 0;
  }
}

.upcoming-events {
  margin-top: -20em;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .upcoming-events {
    margin-top: 0;
  }
}


.upcoming{
  text-align:center;
  margin-bottom: 70px;
    @media (max-width: 1200px){
        margin-bottom: 0;
    }
  .top-title-ue {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    color: #fff;
    font-size: 45px;
    text-align: center;
    position:relative;
    display:inline-block;
    
    @media (max-width: 1200px){
       color: #312e2e;
         margin: 30px 0;
    }

    &:before{
      content: '';
      background: url(../img/left-leaf-ue.png);
      position: absolute;
      width: 52px;
      height: 23px;
      left: -49px;
      display: block;
      background-repeat: no-repeat;
      bottom: 10px;

      @media (max-width: 1200px){
        background: url(../img/left-leaf-menu.png);
         background-repeat: no-repeat;
      }
      @media (max-width: 480px){
          display:none;
      }
    }
    &:after{
      content: '';
      background: url(../img/right-leaf-ue.png);
      position: absolute;
      width: 52px;
      height: 23px;
      right: -54px;
      display: block;
      background-repeat: no-repeat;
      bottom: 10px;

      @media (max-width: 1200px){
        background: url(../img/right-leaf-menu.png);
         background-repeat: no-repeat;
      }
      @media (max-width: 480px){
          display:none;
      }
    }
  }
}

// @media (max-width: 1200px){
//      .top-title-ue {
//      color: #312e2e;
//          padding: 30px 0;
//     }   
// }

.single-ue-content {
  margin-bottom: 30px;
}

@media (min-width: 480px) and (max-width: 1200px) {
  .single-ue-content {
    margin: auto;
    width: 428px;
    margin-bottom: 30px;
  }
}

.title-date {
  p {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3em;
    color: #fff;
    font-family: 'BodoniSvtyTwoITCTT-Book';
    padding-bottom: 13px;
  }
  position: relative;
  float: right;
  h3 {
    &:before {
      content: '';
      background: #fff;
      position: absolute;
      height: 3px;
      width: 50px;
      right: 0;
    }
    display: inline-block;
    vertical-align: middle;
    font-size: 48px;
    line-height: 1.3em;
    color: #fff;
    font-family: 'BodoniSvtyTwoITCTT-Book';
    margin-left: 10px;
    position: relative;
  }
}

@media (max-width: 1200px) {
  .title-date p {
    color: #312e2e;
  }
}

@media (max-width: 1200px) {
  .title-date {
    float: none;
  }
}

/*.title-date:before {
    content: '';
    background: #fff;
    position: absolute;
    height: 3px;
    width: 50px;
    right: 0;
}*/

@media (max-width: 1200px) {
  .title-date h3:before {
    background: #312e2e;
  }
}

@media (max-width: 1200px) {
  .title-date h3 {
    color: #312e2e;
  }
}

.wrapp-inner-title-date {
  padding-top: 10px;
}

@media (max-width: 1200px) {
  .wrapp-inner-title-date {
    text-align: center;
  }
}

.themes {
  padding-top: 25px;
  h3 {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    color: #312e2e;
    font-size: 27px;
  }
}

.readMore {
  text-align: right;
  a {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-size: 16px;
    color: #312e2e;
  }
}

.wrap-inner-title-past {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    top: 25px;
    background: #e1e2e7;
  }
}

.past-title {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  background: #fff;
  padding-right: 5px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 35px;
}

.wrap-inner-arrow {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    top: 8px;
    background: #e1e2e7;
  }
}

.left-arrow {
  float: left;
  background: #fff;
  padding-right: 5px;
}

.right-arrow {
  float: right;
  background: #fff;
  padding-left: 5px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .single-past-events {
    margin: auto;
    width: 428px;
    text-align: center;
    padding: 30px 0;
  }
}

@media (max-width: 480px) {
  .single-past-events {
    text-align: center;
    padding: 30px 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .wrapp-inner-title-date.past-events-date {
    text-align: left;
  }
}

.title-date.past {
  float: none;
  padding: 40px 0;
  h3 {
    &:before {
      background: #000;
    }
    color: #000;
  }
  p {
    color: #000;
  }
}

.past-themes h4 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  color: #312e2e;
  font-size: 24px;
}

/*===========MENU===========*/

.plate-menu {
  text-align: center;
}

.menu-area {
  max-width: 980px;
  margin: auto;
}

.top-intro-menu {
  padding: 40px 0;
}

.top-title-menu {
  text-align: center;
  max-width: 800px;
  margin: auto;
  h3 {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    font-size: 35px;
    position:relative;
    display:inline-block; 
    &:before{
      content: '';
      background: url(../img/left-leaf-menu.png);
      width: 52px;
      height: 20px;
      position: absolute;
      background-repeat: no-repeat;
      display: block;
      left: -48px;
      top: 13px;
     @media (max-width: 400px){
      display:none;
     }
    }
    &:after{
      content: '';
      background: url(../img/right-leaf-menu.png);
      width: 52px;
      height: 20px;
      position: absolute;
      background-repeat: no-repeat;
      display: block;
      right: -52px;
      top: 13px;
      @media (max-width: 400px){
      display:none;
     }
    }

    @media (max-width: 480px){
      font-size: 28px;
    }
  }
  p {
    font-family: 'proxima_novalight';
  }
}

.leaf-banner{
  padding:28px 0;
}

.menu-content-intro {
  text-align: center;
  padding: 120px 0 20px;
  .category-title-menu{
    padding:20px 0;
    h3 {
      font-family: 'BodoniSvtyTwoITCTT-Book';
      font-size: 28px;
      // padding: 30px 0;
      font-weight: bold;
      
    }
  }
}

.category-title-menu{

}
  
.main-menu {}

.wrap-inner-main-menu {
  margin-bottom: 30px;
  p{
    font-family: 'proxima_novalight';

  }
}

.wrap-inner-title {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    border: 1px dotted;
    width: 100%;
    bottom: 6px;
  }
}

.name-prod {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  background: #fff;
  padding-right: 5px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 20px;
}

.price-prod {
  display: inline-block;
  float: right;
  position: relative;
  background: #fff;
  padding-left: 5px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 20px;
}


// tes

.tiles-wrap li {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
    }

    .tiles-wrap li img {
      width: 100%;
      height: auto;
    }


//reservation

.reservation-toggle{
background: none repeat scroll 0 0 #5311a1;
    bottom: 50%;
    padding: 7px 15px;
    position: fixed;
    cursor: pointer;
    max-width: 97px;
    right: 0;
    text-align: center;

    figure{
       max-width: 37px;
      margin: auto;
      margin-bottom: 5px;
    }

    h4{
      font-size: 11px;
    font-family: 'BodoniSvtyTwoITCTT-Book';
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    }
  }


  @media (min-width: 768px){
  .modal-dialog {
      width: 500px;
     margin: 30px auto;
   
  }
}

.info-reservation-area{
  background:#555555;
  padding: 28px 15px;
  .info-reservation{
    padding:20px 0;
    h4{
        font-family: 'proximanova-semibold-webfont';
        color:#fff;
        text-align: center;
    }

    p{
      color:#fff;
        text-align: center;
        font-family: 'proxima_novalight';
    }
  }

}

