@font-face {
  font-family: 'proximanova-regular';
  src: url("../fonts/proximanova-regular.eot");
  src: url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova-regular.svg#proximanova-regular") format("svg");
}

@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-bold';
  src: url("../fonts/proximanova-bold.eot?") format("eot"), url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova-bold.svg#proximanova-bold") format("svg");
}

@font-face {
  font-family: 'proximanova-semibold-webfont';
  src: url("../fonts/proximanova-semibold-webfont.eot?") format("eot"), url("../fonts/proximanova-semibold-webfont.otf") format("opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#GothamRounded-Medium") format("svg");
}

@font-face {
  font-family: 'BodoniSvtyTwoSCITCTT-Book';
  src: url("../fonts/BodoniSvtyTwoSCITCTT-Book_gdi.eot");
  src: url("../fonts/BodoniSvtyTwoSCITCTT-Book_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/BodoniSvtyTwoSCITCTT-Book_gdi.woff") format("woff"), url("../fonts/BodoniSvtyTwoSCITCTT-Book_gdi.ttf") format("truetype"), url("../fonts/BodoniSvtyTwoSCITCTT-Book_gdi.otf") format("opentype"), url("../fonts/BodoniSvtyTwoSCITCTT-Book_gdi.svg#BodoniSvtyTwoSCITCTT-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}

@font-face {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  src: url("../fonts/BodoniSvtyTwoITCTT-Book_gdi.eot");
  src: url("../fonts/BodoniSvtyTwoITCTT-Book_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/BodoniSvtyTwoITCTT-Book_gdi.woff") format("woff"), url("../fonts/BodoniSvtyTwoITCTT-Book_gdi.ttf") format("truetype"), url("../fonts/BodoniSvtyTwoITCTT-Book_gdi.otf") format("opentype"), url("../fonts/BodoniSvtyTwoITCTT-Book_gdi.svg#BodoniSvtyTwoITCTT-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}
