/* ==========================================
RESET BOOTSTRAP
========================================== */
/* line 10, ../scss/main.styles.scss */
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../scss/main.styles.scss */
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #dfdfdf;
}

/*========================================
 NO GUTTER SETUP
========================================*/
/* line 29, ../scss/main.styles.scss */
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
/* line 32, ../scss/main.styles.scss */
.row.no-gutter > [class*='col-'] {
  position: inherit;
  padding-right: 0;
  padding-left: 0;
}
/* line 36, ../scss/main.styles.scss */
.row.no-gutter > [class*='col-'] > [class*='col-'] {
  position: inherit;
  padding-right: 0;
  padding-left: 0;
}
/* line 43, ../scss/main.styles.scss */
.row.rw-10 {
  margin-right: -5px;
  margin-left: -5px;
}
/* line 46, ../scss/main.styles.scss */
.row.rw-10 > [class*='col-'] {
  position: inherit;
  padding-right: 5px;
  padding-left: 5px;
}
/* line 50, ../scss/main.styles.scss */
.row.rw-10 > [class*='col-'] > [class*='col-'] {
  position: inherit;
  padding-right: 5px;
  padding-left: 5px;
}
/* line 57, ../scss/main.styles.scss */
.row.rw-13 {
  margin-right: -2px;
  margin-left: -2px;
}
/* line 60, ../scss/main.styles.scss */
.row.rw-13 > [class*='col-'] {
  position: inherit;
  padding-right: 7px;
  padding-left: 7px;
}
/* line 66, ../scss/main.styles.scss */
.row.rw-15 > [class*='col-'] > [class*='col-'] {
  position: inherit;
  padding-right: 7px;
  padding-left: 7px;
}

/*========================================
@ HEADING SETUP
========================================*/
/* line 77, ../scss/main.styles.scss */
h1, h2, h3, h4, h5 {
  font-weight: 400;
  line-height: normal;
  margin: 0 0 20px;
}

/* line 83, ../scss/main.styles.scss */
h1 {
  font-size: 24px;
}

/* line 87, ../scss/main.styles.scss */
h2 {
  font-size: 21px;
}

/* line 91, ../scss/main.styles.scss */
h3 {
  font-size: 18px;
}

/* line 95, ../scss/main.styles.scss */
h4 {
  font-size: 16px;
  font-size: 14px;
}

/*========================================
@ LIST SETUP
========================================*/
/* line 104, ../scss/main.styles.scss */
ul {
  font-size: 14px;
  line-height: 21px;
}
/* line 107, ../scss/main.styles.scss */
ul.list-none {
  font-size: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*========================================
@ HYPERLINK SETUP
========================================*/
/* line 120, ../scss/main.styles.scss */
a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: #000;
  outline: none;
}
/* line 128, ../scss/main.styles.scss */
a:hover, a:focus {
  text-decoration: none;
  opacity: 1;
  color: inherit;
  outline: 0;
}

/* line 136, ../scss/main.styles.scss */
.wrapp-gold {
  overflow: hidden;
}

/* line 140, ../scss/main.styles.scss */
.gold {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  display: inline-block;
  min-width: 220px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  border: 1px solid;
}
/* line 149, ../scss/main.styles.scss */
.gold:hover {
  border-color: transparent;
  background: #e2c022;
}

/*========================================
@ GENERAL SETUP
========================================*/
/* line 159, ../scss/main.styles.scss */
html, body {
  font-family: 'proximanova-regular';
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  color: #312e2e;
  background-color: #fff;
}

/* line 169, ../scss/main.styles.scss */
.wrap-inner {
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 767px) {
  /* line 175, ../scss/main.styles.scss */
  .wrap-inner {
    padding: 0;
  }
}
/** SPACE
===================================*/
/* line 183, ../scss/main.styles.scss */
.space15 {
  display: block;
  width: 100%;
  height: 15px;
}

/* line 189, ../scss/main.styles.scss */
.space20 {
  display: block;
  width: 100%;
  height: 20px;
}

/* line 195, ../scss/main.styles.scss */
.space30 {
  display: block;
  width: 100%;
  height: 30px;
}

/* line 201, ../scss/main.styles.scss */
.space45 {
  display: block;
  width: 100%;
  height: 45px;
}

/* line 207, ../scss/main.styles.scss */
.space60 {
  display: block;
  width: 100%;
  height: 60px;
}

/* line 213, ../scss/main.styles.scss */
.space170 {
  display: block;
  width: 100%;
  height: 80px;
}

/*========================================
@ BUTTON SETUP
========================================*/
/* line 223, ../scss/main.styles.scss */
.btn {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 0;
}
/* line 229, ../scss/main.styles.scss */
.btn:focus, .btn:active {
  outline: none;
}

/* line 234, ../scss/main.styles.scss */
.btn-collapse {
  background: #5311a1;
  color: #fff;
  font-size: 21px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0 7px;
}
/* line 242, ../scss/main.styles.scss */
.btn-collapse:hover, .btn-collapse:active, .btn-collapse:focus {
  color: #fff;
}

/*========================================
@ FORM SETUP
========================================*/
/* line 250, ../scss/main.styles.scss */
.form-control:focus {
  border-color: #5311a1;
}

/*========================================
@ IMAGE SETUP
========================================*/
/* line 258, ../scss/main.styles.scss */
img {
  width: auto\9;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

/*========================================
@HEADER SETUP
========================================*/
/* line 271, ../scss/main.styles.scss */
.app-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.29);
}

/*========================================
@INTRO
========================================*/
/*.tes1{
width: 20%;
}

.tes1.logo{
width: 0%;
-webkit-transition: all .4s;
           -moz-transition: all .4s;
             -o-transition: all .4s;
                transition: all .4s;
}


.tes1.logo.open{
   width: 100%; 

}



.tes2{
width: 80%;
float: left;
}*/
/* line 308, ../scss/main.styles.scss */
.hero {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

@media (min-width: 1200px) {
  /* line 318, ../scss/main.styles.scss */
  .hero {
    overflow: hidden;
    min-height: 720px;
  }
  /* line 321, ../scss/main.styles.scss */
  .hero.hero-menupg {
    min-height: 560px;
  }
}
/* line 327, ../scss/main.styles.scss */
.hero-content {
  padding: 18%  0;
  text-align: center;
  color: white;
}
/* line 331, ../scss/main.styles.scss */
.hero-content.menu-logo {
  padding: 0;
}
@media (max-width: 1200px) {
  /* line 333, ../scss/main.styles.scss */
  .hero-content.menu-logo.bannerPlate {
    padding: 18%  0;
  }
}
/* line 340, ../scss/main.styles.scss */
.hero-content.menu-logo.sm-font h3 {
  font-size: 27px;
}
/* line 345, ../scss/main.styles.scss */
.hero-content h3 {
  font-family: 'BodoniSvtyTwoSCITCTT-Book';
  font-size: 40px;
  margin-bottom: 0;
  text-transform: uppercase;
}
/* line 351, ../scss/main.styles.scss */
.hero-content h1 {
  font-family: 'BodoniSvtyTwoSCITCTT-Book';
  font-size: 50px;
  margin-bottom: 0;
  text-transform: uppercase;
}
/* line 357, ../scss/main.styles.scss */
.hero-content p {
  font-family: 'proximanova-regular';
  text-transform: uppercase;
}

/* line 363, ../scss/main.styles.scss */
.logo-banner {
  margin-bottom: 15px;
}

/* line 367, ../scss/main.styles.scss */
.logo-banner.inner-page {
  margin-bottom: 50px;
}

/* line 371, ../scss/main.styles.scss */
.logo-banner.home.inner-page {
  margin-bottom: 15px;
  margin-top: 95px;
}

/* line 377, ../scss/main.styles.scss */
.logo-banner.menupg.inner-page {
  margin-bottom: 50px;
  margin-top: 95px;
}

@media (min-width: 1200px) {
  /* line 383, ../scss/main.styles.scss */
  .hero.second {
    overflow: hidden;
    min-height: 350px;
  }
}
/* line 390, ../scss/main.styles.scss */
.hero.second .hero-content .title-area {
  margin: 0;
}
/* line 393, ../scss/main.styles.scss */
.hero.second .hero-content .logo-banner {
  margin: -130px;
}

@media (max-width: 1200px) {
  /* line 399, ../scss/main.styles.scss */
  .hero.second .hero-content .title-area {
    margin: 13% 0 13% 11%;
  }
}
@media (max-width: 767px) {
  /* line 405, ../scss/main.styles.scss */
  .hero.second .hero-content .title-area {
    margin: 40% 0 13% 11%;
  }
}
@media (max-width: 1200px) {
  /* line 411, ../scss/main.styles.scss */
  .hero.second .hero-content .logo-banner {
    float: left;
    margin: 0 0 0 15%;
  }
}
@media (max-width: 480px) {
  /* line 418, ../scss/main.styles.scss */
  .hero.second .hero-content .logo-banner {
    float: none;
    margin: 0;
  }
}
/* line 424, ../scss/main.styles.scss */
.cover {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
@media (min-width: 1200px) {
  /* line 424, ../scss/main.styles.scss */
  .cover {
    padding-bottom: 90px;
  }
}

/* line 435, ../scss/main.styles.scss */
.special, .outter {
  position: relative;
}

@media (max-width: 480px) {
  /* line 440, ../scss/main.styles.scss */
  .special {
    margin-left: 18%;
  }
}
/*
.special .leaf{
    position: absolute;
}
*/
/*========================================
@OUTTER
========================================*/
/*========================================
@TOP-INTRO
========================================*/
@media (min-width: 1200px) {
  /* line 459, ../scss/main.styles.scss */
  .top-intro {
    width: 50em;
  }
}
/* line 464, ../scss/main.styles.scss */
.top-intro {
  margin: auto;
  margin-top: -130px;
  padding-left: 167px;
}

@media (min-width: 481px) and (max-width: 767px) {
  /* line 471, ../scss/main.styles.scss */
  .top-intro {
    margin-top: -100px;
    padding: 0;
  }
}
@media (max-width: 480px) {
  /* line 478, ../scss/main.styles.scss */
  .top-intro {
    margin-top: -40px;
    padding: 0;
  }
}
/* line 484, ../scss/main.styles.scss */
.top-intro-float-left, .bottom-right {
  display: none;
}

@media (min-width: 1200px) {
  /* line 489, ../scss/main.styles.scss */
  .top-intro-float-left {
    position: absolute;
    display: block;
    width: 20em;
  }
}
@media (min-width: 1200px) {
  /* line 497, ../scss/main.styles.scss */
  .bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 20em;
  }
}
/*========================================
@INTRO-TEXT
========================================*/
/* line 510, ../scss/main.styles.scss */
.intro-text-content {
  max-width: 790px;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

/* line 517, ../scss/main.styles.scss */
.title-area {
  position: relative;
  margin-left: 140px;
  text-align: left;
}
/* line 521, ../scss/main.styles.scss */
.title-area.met-cuisine {
  margin-left: 0;
  text-align: left;
}
/* line 525, ../scss/main.styles.scss */
.title-area.met-cuisine .title-bottom {
  color: #fff;
}

@media (max-width: 480px) {
  /* line 533, ../scss/main.styles.scss */
  .title-area {
    margin-left: 50px;
  }
}
/* line 538, ../scss/main.styles.scss */
.leaf {
  position: absolute;
  bottom: 0;
  left: -45px;
  width: 50px;
}

/* line 545, ../scss/main.styles.scss */
.leaf-transparent {
  /*
     width: 17em;
     margin: auto;*/
  text-align: center;
  padding: 50px 0;
}

/* line 553, ../scss/main.styles.scss */
.title-top {
  font-family: 'BodoniSvtyTwoSCITCTT-Book';
  font-size: 32px;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
  color: #e2c022;
}

@media (max-width: 480px) {
  /* line 563, ../scss/main.styles.scss */
  .title-top {
    font-size: 22px;
  }
}
/* line 568, ../scss/main.styles.scss */
.title-bottom {
  font-family: 'BodoniSvtyTwoSCITCTT-Book';
  font-size: 60px;
  line-height: .67em;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #5311a1;
}

@media (max-width: 480px) {
  /* line 578, ../scss/main.styles.scss */
  .title-bottom {
    font-size: 40px;
  }
}
/*========================================
@DOUBLE CONTENT
========================================*/
/* line 587, ../scss/main.styles.scss */
.double-content {
  position: relative;
  margin-bottom: 11em;
  margin-top: 70px;
}
/* line 591, ../scss/main.styles.scss */
.double-content.second {
  margin-top: 0;
}
/* line 594, ../scss/main.styles.scss */
.double-content.inner {
  max-width: 950px;
  margin: auto;
}
/* line 598, ../scss/main.styles.scss */
.double-content .image, .double-content.second .image {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  /* line 604, ../scss/main.styles.scss */
  .double-content .image {
    margin-left: 160px;
  }
}
@media (min-width: 1200px) {
  /* line 610, ../scss/main.styles.scss */
  .double-content.second .image {
    margin: 0;
  }
}
/* line 615, ../scss/main.styles.scss */
.box {
  position: relative;
  max-width: 540px;
  margin: auto;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
/* line 621, ../scss/main.styles.scss */
.box.directions {
  max-width: 442px;
}

@media (min-width: 1200px) {
  /* line 627, ../scss/main.styles.scss */
  .box {
    position: absolute;
    top: 60px;
    /* left: 0;*/
    background: #fff;
  }
}
@media (min-width: 1200px) {
  /* line 636, ../scss/main.styles.scss */
  .box.second {
    right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 642, ../scss/main.styles.scss */
  .box.directions {
    top: -36px;
    right: 6em;
  }
}
@media (max-width: 768px) {
  /* line 649, ../scss/main.styles.scss */
  .box.directions {
    margin-top: 30px;
  }
}
/* line 654, ../scss/main.styles.scss */
.inner-box {
  padding: 15px;
  border: 1px solid #dfdfdf;
}
/* line 657, ../scss/main.styles.scss */
.inner-box .left-content {
  position: relative;
}
/* line 660, ../scss/main.styles.scss */
.inner-box h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 30px;
  line-height: .99em;
  text-align: right;
  color: #601cb0;
}
/* line 669, ../scss/main.styles.scss */
.inner-box.second .title {
  position: relative;
  text-align: center;
}
/* line 672, ../scss/main.styles.scss */
.inner-box.second .title.footer {
  padding-top: 15px;
}
/* line 676, ../scss/main.styles.scss */
.inner-box.second h3 {
  display: inline-block;
  padding-top: 15px;
  margin-bottom: 30px;
  position: relative;
  color: #312e2e;
}
/* line 682, ../scss/main.styles.scss */
.inner-box.second h3:before {
  content: '';
  background: url(../img/left-leaf-menu.png);
  position: absolute;
  height: 20px;
  background-repeat: no-repeat;
  width: 54px;
  left: -48px;
  top: 19px;
  display: block;
}
@media (max-width: 768px) {
  /* line 682, ../scss/main.styles.scss */
  .inner-box.second h3:before {
    display: none;
  }
}
/* line 696, ../scss/main.styles.scss */
.inner-box.second h3:after {
  content: '';
  background: url(../img/right-leaf-menu.png);
  position: absolute;
  height: 24px;
  background-repeat: no-repeat;
  width: 48px;
  right: -48px;
  top: 19px;
  display: block;
}
@media (max-width: 768px) {
  /* line 696, ../scss/main.styles.scss */
  .inner-box.second h3:after {
    display: none;
  }
}
/* line 713, ../scss/main.styles.scss */
.inner-box.directions h3 {
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  color: #5311a1;
}

/* line 721, ../scss/main.styles.scss */
.hostEventintro {
  font-family: 'proxima_novalight';
}

/* line 725, ../scss/main.styles.scss */
.hostEventintroCont {
  margin-bottom: 40px;
}

@media (max-width: 400px) {
  /* line 730, ../scss/main.styles.scss */
  .inner-box h3 {
    font-size: 18px;
    line-height: .99em;
  }
}
@media (max-width: 767px) {
  /* line 737, ../scss/main.styles.scss */
  .inner-box h3 {
    text-align: center;
  }
}
/* line 742, ../scss/main.styles.scss */
.leaf2 {
  position: absolute;
  bottom: 7px;
}

@media (max-width: 767px) {
  /* line 748, ../scss/main.styles.scss */
  .leaf2 {
    right: 0;
    left: -112px;
    text-align: center;
  }
}
/* line 755, ../scss/main.styles.scss */
.leaf3 {
  position: absolute;
  bottom: 6px;
  left: 0;
}

/* line 761, ../scss/main.styles.scss */
.leaf4 {
  position: absolute;
  right: 0;
  bottom: 6px;
}

/*========================================
@REVIEW
========================================*/
/* line 772, ../scss/main.styles.scss */
.inline-disp .image-article {
  display: inline-block;
  float: left;
  max-width: 360px;
  margin: auto;
}
/* line 778, ../scss/main.styles.scss */
.inline-disp.right .image-article {
  float: right;
}

@media (max-width: 1200px) {
  /* line 784, ../scss/main.styles.scss */
  .inline-disp.left {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
}
@media (max-width: 1200px) {
  /* line 793, ../scss/main.styles.scss */
  .inline-disp.left.reviews {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    float: left;
  }
}
@media (max-width: 760px) {
  /* line 802, ../scss/main.styles.scss */
  .inline-disp.left.reviews {
    float: none;
  }
}
@media (max-width: 760px) {
  /* line 808, ../scss/main.styles.scss */
  .inline-disp.left {
    float: none;
    padding-bottom: 30px;
  }
}
@media (max-width: 760px) {
  /* line 815, ../scss/main.styles.scss */
  .inline-disp .image-article {
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 1200px) {
  /* line 824, ../scss/main.styles.scss */
  .inline-disp.right {
    margin-bottom: 30px;
    float: left;
  }
}
@media (max-width: 760px) {
  /* line 831, ../scss/main.styles.scss */
  .inline-disp.right {
    float: none;
    padding-bottom: 30px;
  }
}
@media (max-width: 760px) {
  /* line 838, ../scss/main.styles.scss */
  .inline-disp.right .image-article {
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 30px;
  }
}
/* line 847, ../scss/main.styles.scss */
.text-article h3 {
  font-family: 'BodoniSvtyTwoSCITCTT-Book';
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 853, ../scss/main.styles.scss */
.text-article h5 {
  font-family: 'proxima_novalight';
  margin-bottom: 10px;
}
/* line 858, ../scss/main.styles.scss */
.text-article p {
  font-family: 'proxima_novalight';
  margin-bottom: 40px;
}
/* line 862, ../scss/main.styles.scss */
.text-article a {
  font-size: 18px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  float: right;
}

/* line 870, ../scss/main.styles.scss */
.inline-disp .text-article {
  display: inline-block;
  float: left;
  max-width: 370px;
  margin-left: 30px;
  margin-top: 50px;
}
/* line 877, ../scss/main.styles.scss */
.inline-disp.left.reviews, .inline-disp.right.reviews {
  float: left;
  padding: 30px 0;
}
/* line 881, ../scss/main.styles.scss */
.inline-disp .text-article.reviews {
  max-width: 750px;
  margin-top: 0;
}
/* line 885, ../scss/main.styles.scss */
.inline-disp.right .text-article.reviews {
  max-width: 750px;
}
/* line 888, ../scss/main.styles.scss */
.inline-disp .text-article.horizontal {
  margin-left: 0px;
  margin-top: 50px;
}
/* line 892, ../scss/main.styles.scss */
.inline-disp.right .text-article {
  max-width: 330px;
  margin-left: 0px;
  margin-right: 30px;
  text-align: right;
}

@media (max-width: 760px) {
  /* line 901, ../scss/main.styles.scss */
  .inline-disp.left.reviews {
    float: none;
  }
}
@media (max-width: 760px) {
  /* line 907, ../scss/main.styles.scss */
  .inline-disp.right.reviews {
    float: none;
  }
}
@media (max-width: 1200px) {
  /* line 913, ../scss/main.styles.scss */
  .inline-disp .text-article.reviews {
    max-width: 320px;
  }
}
@media (max-width: 1200px) {
  /* line 919, ../scss/main.styles.scss */
  .inline-disp.right .text-article.reviews {
    max-width: 330px;
  }
}
@media (max-width: 1200px) {
  /* line 925, ../scss/main.styles.scss */
  .inline-disp .text-article.horizontal {
    margin-left: 30px;
  }
}
@media (max-width: 760px) {
  /* line 931, ../scss/main.styles.scss */
  .inline-disp .text-article.horizontal {
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 937, ../scss/main.styles.scss */
  .inline-disp .text-article {
    max-width: 320px;
  }
}
@media (max-width: 760px) {
  /* line 943, ../scss/main.styles.scss */
  .inline-disp .text-article {
    float: none;
    margin: auto;
    display: block;
  }
}
@media (max-width: 760px) {
  /* line 951, ../scss/main.styles.scss */
  .inline-disp.right .text-article {
    max-width: 370px;
    margin: auto;
    text-align: left;
    float: none;
    display: block;
  }
}
/* line 960, ../scss/main.styles.scss */
.article-content {
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  /* line 965, ../scss/main.styles.scss */
  .article-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*========================================
@FOOTER SETUP
========================================*/
/* line 975, ../scss/main.styles.scss */
.app-footer {
  padding-top: 80px;
}

/* line 979, ../scss/main.styles.scss */
.info {
  padding: 30px 0;
}
/* line 981, ../scss/main.styles.scss */
.info .footer-logo {
  text-align: center;
}
/* line 984, ../scss/main.styles.scss */
.info h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-weight: bold;
}
/* line 988, ../scss/main.styles.scss */
.info ul li {
  line-height: 2em;
  font-size: 16px;
  font-family: 'proxima_novalight';
}
/* line 993, ../scss/main.styles.scss */
.info ul li span {
  font-weight: bold;
  color: #87519e;
}
/* line 997, ../scss/main.styles.scss */
.info ul li .card {
  padding-top: 25px;
}

/* line 1003, ../scss/main.styles.scss */
.social-media {
  text-align: center;
}
/* line 1005, ../scss/main.styles.scss */
.social-media ul li a i {
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding: 13px;
  text-align: center;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
}
/* line 1014, ../scss/main.styles.scss */
.social-media ul li a i.fa-facebook {
  background: #2f81dd;
}
/* line 1016, ../scss/main.styles.scss */
.social-media ul li a i.fa-facebook:hover {
  background: #2f81dd;
}
/* line 1020, ../scss/main.styles.scss */
.social-media ul li a i.fa-twitter {
  background: #5ebcf7;
}
/* line 1023, ../scss/main.styles.scss */
.social-media ul li a i.fa-instagram {
  background: #4a93c1;
}
/* line 1026, ../scss/main.styles.scss */
.social-media ul li a i.fa-yelp {
  background: #c23149;
}

/*========================================
@NAVIGATION SETUP
========================================*/
/* line 1035, ../scss/main.styles.scss */
.wrapp-top-menu {
  padding: 20px 0;
}

/* line 1039, ../scss/main.styles.scss */
.menu {
  display: block;
  margin-left: 26px;
  padding: 12px;
  padding: 8px 15px;
  color: #fff;
  border: 1px solid;
}
/* line 1046, ../scss/main.styles.scss */
.menu:hover, .menu:focus {
  color: #bbbaba;
}

@media (min-width: 1200px) {
  /* line 1052, ../scss/main.styles.scss */
  .navigation {
    padding: 30px 0 20px;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  /* line 1059, ../scss/main.styles.scss */
  .navigation {
    float: left;
    margin-left: 2em;
    text-align: left;
  }
}
/* line 1066, ../scss/main.styles.scss */
.navigation ul li {
  border-left: 1px solid #fff;
}
/* line 1068, ../scss/main.styles.scss */
.navigation ul li a {
  font-family: 'proximanova-regular';
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  color: #fff;
  line-height: 0.9em;
}
/* line 1077, ../scss/main.styles.scss */
.navigation ul li.active a {
  color: #fff;
}

@media (max-width: 1200px) {
  /* line 1084, ../scss/main.styles.scss */
  .navigation ul li a {
    color: #312e2e;
  }
  /* line 1087, ../scss/main.styles.scss */
  .navigation ul li.active a {
    color: #312e2e;
  }
}
/* line 1094, ../scss/main.styles.scss */
.navigation ul li:first-child {
  border: none;
}

@media (min-width: 1200px) {
  /* line 1099, ../scss/main.styles.scss */
  .navigation ul li {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 1200px) {
  /* line 1106, ../scss/main.styles.scss */
  .navigation ul li {
    border: none;
  }
}
/*default max-width: 768px*/
@media (max-width: 1200px) {
  /* line 1115, ../scss/main.styles.scss */
  .navigation {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 184px;
    height: 100%;
    margin-left: 0;
    padding: 20px 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transform: translate3d(-205px, 0, 0);
    -moz-transform: translate3d(-205px, 0, 0);
    -ms-transform: translate3d(-205px, 0, 0);
    -o-transform: translate3d(-205px, 0, 0);
    transform: translate3d(-205px, 0, 0);
    border-right: 1px solid #eee;
    background-color: #fff;
  }
  /* line 1135, ../scss/main.styles.scss */
  .navigation.open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* line 1142, ../scss/main.styles.scss */
  .navigation ul li {
    width: 100%;
  }
  /* line 1144, ../scss/main.styles.scss */
  .navigation ul li a {
    padding: 10px 20px;
    border: 0;
  }
  /* line 1148, ../scss/main.styles.scss */
  .navigation ul li.active a, .navigation ul li:hover a {
    border: 0;
    background-color: rgba(0, 0, 0, 0.29);
  }
}
/*========TAB==========*/
/* line 1158, ../scss/main.styles.scss */
.nav-tabs.sub.second > li > a {
  border: none;
}

/* line 1162, ../scss/main.styles.scss */
.nav-tabs > li > a {
  border: none;
}

/* line 1168, ../scss/main.styles.scss */
.nav-tabs {
  border: none;
}
/* line 1170, ../scss/main.styles.scss */
.nav-tabs > li.active > a {
  color: #E2C022;
  cursor: default;
  background: transparent;
  border-bottom: 4px solid #e2c022;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
/* line 1179, ../scss/main.styles.scss */
.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #E2C022;
  cursor: default;
  background: transparent;
  border-bottom: 4px solid #e2c022;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
/* line 1191, ../scss/main.styles.scss */
.nav-tabs.sub > li.active > a {
  color: #312f2f;
  cursor: default;
  background: #e2c022;
  border-bottom: 1px solid #e2c022;
  border-radius: 0;
  border-top: 1px solid #e2c022;
  border-left: 1px solid #e2c022;
  border-right: 1px solid #e2c022;
}
/* line 1200, ../scss/main.styles.scss */
.nav-tabs.sub > li.active > a:focus, .nav-tabs.sub > li.active > a:hover {
  color: #312f2f;
  cursor: default;
  background: #e2c022;
  border-bottom: 1px solid #e2c022;
  border-radius: 0;
  border-top: 1px solid #e2c022;
  border-left: 1px solid #e2c022;
  border-right: 1px solid #e2c022;
}
/* line 1212, ../scss/main.styles.scss */
.nav-tabs.sub.second > li.active > a {
  color: #5311a1;
  cursor: default;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px solid #5311a1;
}

/* line 1232, ../scss/main.styles.scss */
.nav > li > a {
  color: #fff;
  font-family: 'proximanova-semibold-webfont';
  font-size: 18px;
}
/* line 1238, ../scss/main.styles.scss */
.nav.sub > li > a {
  color: #000;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 18px;
  font-weight: bold;
}
/* line 1244, ../scss/main.styles.scss */
.nav.sub.second > li > a {
  color: #adadad;
  font-family: 'proximanova-semibold-webfont';
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}
/* line 1252, ../scss/main.styles.scss */
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

/* line 1259, ../scss/main.styles.scss */
.menu-tabs-bottom {
  padding: 50px 0;
}

/* line 1263, ../scss/main.styles.scss */
.nav.menu-bottom li a {
  color: #484646;
}

/* line 1269, ../scss/main.styles.scss */
.nav-tabs.menu-bottom > li.active > a,
.nav-tabs.menu-bottom > li.active > a:focus,
.nav-tabs.menu-bottom > li.active > a:hover {
  color: #484646;
}

@media (min-width: 768px) and (max-width: 1200px) {
  /* line 1274, ../scss/main.styles.scss */
  .nav > li > a {
    font-size: 17px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 1280, ../scss/main.styles.scss */
  .nav > li > a {
    font-size: 13px;
  }
}
/* line 1286, ../scss/main.styles.scss */
.nav-tabs.sub > li > a {
  border: 1px solid #000;
  border-radius: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 1293, ../scss/main.styles.scss */
.nav-tabs.sub.second > li > a {
  border: none;
}

@media screen and (max-width: 479px) {
  /* line 1299, ../scss/main.styles.scss */
  .nav-tabs-responsive > li {
    display: none;
    width: 23%;
  }
  /* line 1302, ../scss/main.styles.scss */
  .nav-tabs-responsive > li > a {
    overflow: hidden;
    width: 100%;
    width: 100%;
    max-width: 100%;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
  }
  /* line 1313, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.active {
    width: 54%;
    display: block;
  }
  /* line 1315, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.active:first-child {
    margin-left: 23%;
  }
  /* line 1320, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    display: block;
  }
  /* line 1323, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.prev {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  /* line 1327, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  /* line 1330, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.next > a {
    -webkit-transition: none;
    transition: none;
  }
  /* line 1335, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.prev > a {
    -webkit-transition: none;
    transition: none;
  }
  /* line 1339, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
    display: none;
  }
  /* line 1342, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.next > a:after {
    font-family: 'fontawesome';
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: relative;
    top: 1px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* line 1353, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.prev > a:after {
    font-family: 'fontawesome';
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: relative;
    top: 1px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f104';
    font-size: 25px;
  }
  /* line 1366, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.next > a:after {
    content: '\f105';
    font-size: 25px;
  }
  /* line 1372, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.dropdown > a > .caret {
    display: none;
  }
  /* line 1375, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.dropdown > a:after {
    content: '\e114';
  }
  /* line 1380, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.dropdown.active > a:after {
    display: none;
  }
  /* line 1383, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.dropdown.active > a > .caret {
    display: inline-block;
  }
  /* line 1388, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
    right: auto;
    left: 0;
  }
  /* line 1392, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  /* line 1401, ../scss/main.styles.scss */
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
    right: 0;
    left: auto;
  }
}
/* line 1410, ../scss/main.styles.scss */
.wrapper {
  margin-top: -70px;
}
/* line 1412, ../scss/main.styles.scss */
.wrapper.sub {
  margin-top: 0;
}
/* line 1415, ../scss/main.styles.scss */
.wrapper.menuFdl {
  margin: 0;
}

@media (min-width: 1200px) {
  /* line 1422, ../scss/main.styles.scss */
  .bs-example-tabs.menuFdlTop {
    max-width: 780px;
    margin: auto;
  }
}
@media (max-width: 1200px) {
  /* line 1431, ../scss/main.styles.scss */
  .bs-example-tabs.menuFdlTop {
    max-width: 580px;
    margin: auto;
  }
}
/* line 1440, ../scss/main.styles.scss */
.bs-example-tabs .nav-tabs {
  margin-bottom: 20px;
}
/* line 1442, ../scss/main.styles.scss */
.bs-example-tabs .nav-tabs.sub {
  margin-bottom: 35px;
}

@media (min-width: 1200px) {
  /* line 1448, ../scss/main.styles.scss */
  .bs-example-tabs .nav-tabs {
    margin-bottom: 100px;
  }
}
/* line 1454, ../scss/main.styles.scss */
.bs-example-tabs.menuFdlTop .nav-tabs {
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  /* line 1460, ../scss/main.styles.scss */
  .bs-example-tabs .nav-tabs {
    margin-bottom: 50px;
  }
}
/* line 1465, ../scss/main.styles.scss */
.nameProd {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 20px;
  font-weight: bold;
}

/*============REVIEW==============*/
/* line 1473, ../scss/main.styles.scss */
.title-area.review {
  float: right;
  margin-left: 0;
  margin-bottom: 40px;
}
/* line 1477, ../scss/main.styles.scss */
.title-area.review .title-review {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 60px;
  line-height: .67em;
  margin-bottom: 10px;
  color: #312e2e;
  margin-right: 50px;
}
/* line 1485, ../scss/main.styles.scss */
.title-area.review p {
  margin-right: 50px;
  font-family: 'proxima_novalight';
}
/* line 1491, ../scss/main.styles.scss */
.title-area.review a {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 25px;
  color: #312e2e;
  float: right;
}

@media (max-width: 1200px) {
  /* line 1500, ../scss/main.styles.scss */
  .title-area.review .title-review {
    font-size: 50px;
    margin-right: 0px;
  }
}
@media (max-width: 1200px) {
  /* line 1507, ../scss/main.styles.scss */
  .title-area.review p {
    margin-right: 0px;
  }
}
/*=========SUBSCRIBES===========*/
/* line 1514, ../scss/main.styles.scss */
.subscribes-area {
  margin-top: 60px;
  margin-bottom: 40px;
}

/* line 1519, ../scss/main.styles.scss */
.title-area.subscribes {
  margin-left: 0;
  text-align: center;
  max-width: 400px;
  margin: auto;
  margin-bottom: 40px;
}
/* line 1526, ../scss/main.styles.scss */
.title-area.subscribes p {
  font-family: 'proxima_novalight';
}
/* line 1529, ../scss/main.styles.scss */
.title-area.subscribes .title-subscribes {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 60px;
  line-height: .67em;
  margin-bottom: 10px;
  color: #312e2e;
  margin-right: 0px;
}

@media (max-width: 480px) {
  /* line 1540, ../scss/main.styles.scss */
  .title-area.subscribes .title-subscribes {
    font-size: 48px;
  }
}
/* line 1545, ../scss/main.styles.scss */
.subscribes-form {
  max-width: 600px;
  margin: auto;
  position: relative;
}
/* line 1550, ../scss/main.styles.scss */
.subscribes-form .submit a {
  background: #5311a1;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  text-transform: uppercase;
  color: #fff;
}
/* line 1561, ../scss/main.styles.scss */
.subscribes-form .submit a:hover {
  background: #49046b;
}
/* line 1565, ../scss/main.styles.scss */
.subscribes-form .form-control {
  border-radius: 0;
  height: 60px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  font-family: 'proxima_novalight';
  font-size: 19px;
}

@media (max-width: 480px) {
  /* line 1578, ../scss/main.styles.scss */
  .subscribes-form .submit {
    max-width: 179px;
    margin: auto;
  }
}
@media (max-width: 480px) {
  /* line 1585, ../scss/main.styles.scss */
  .subscribes-form .submit a {
    position: relative;
    float: left;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  /* line 1593, ../scss/main.styles.scss */
  .special.subscribes {
    margin-left: 0;
  }
}
/*=========map==========*/
/* line 1600, ../scss/main.styles.scss */
#map-container {
  height: 500px;
}

/* line 1604, ../scss/main.styles.scss */
.wrapp-map {
  position: relative;
}

/*===========contact=========*/
/* line 1610, ../scss/main.styles.scss */
.intro-contact {
  padding: 40px 0 30px;
}
/* line 1612, ../scss/main.styles.scss */
.intro-contact .intro-contact-title {
  max-width: 550px;
  margin: auto;
  text-align: center;
}
/* line 1616, ../scss/main.styles.scss */
.intro-contact .intro-contact-title h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 35px;
}
/* line 1620, ../scss/main.styles.scss */
.intro-contact .intro-contact-title p {
  font-family: 'proxima_novalight';
}

/* line 1626, ../scss/main.styles.scss */
.social-media.contact {
  margin-bottom: 30px;
}
/* line 1628, ../scss/main.styles.scss */
.social-media.contact ul {
  max-width: 550px;
  margin: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

/* line 1636, ../scss/main.styles.scss */
.wrapp-box-form {
  max-width: 680px;
  margin: auto;
}

/* line 1641, ../scss/main.styles.scss */
.box-form {
  border: 1px solid;
  padding: 45px;
}
/* line 1644, ../scss/main.styles.scss */
.box-form .message-intro {
  text-align: center;
  padding-bottom: 40px;
  max-width: 480px;
  margin: auto;
}
/* line 1650, ../scss/main.styles.scss */
.box-form .message-intro p {
  font-family: 'proxima_novalight';
}

@media (max-width: 480px) {
  /* line 1657, ../scss/main.styles.scss */
  .box-form {
    padding: 7px;
  }
}
/* line 1662, ../scss/main.styles.scss */
.title-wrapping {
  position: relative;
  max-width: 284px;
  margin: auto;
}

/* line 1670, ../scss/main.styles.scss */
.box-form .message-intro h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 30px;
}
/* line 1676, ../scss/main.styles.scss */
.box-form .form-group {
  margin-bottom: 20px;
}
/* line 1679, ../scss/main.styles.scss */
.box-form .form-control {
  border-radius: 0;
  box-shadow: none;
  height: 40px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

/* line 1689, ../scss/main.styles.scss */
.golden {
  text-align: center;
  margin-top: 40px;
}
/* line 1692, ../scss/main.styles.scss */
.golden.attach {
  margin-top: 0;
  margin-bottom: 15px;
}
/* line 1696, ../scss/main.styles.scss */
.golden a {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  background: #e2c022;
  font-size: 16px;
  padding: 12px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 200px;
  text-align: center;
}
/* line 1705, ../scss/main.styles.scss */
.golden a:hover {
  background: #a18504;
}
/* line 1709, ../scss/main.styles.scss */
.golden button {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  background: #e2c022;
  font-size: 16px;
  padding: 12px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
}
/* line 1717, ../scss/main.styles.scss */
.golden button:hover {
  background: #a18504;
}

/*============JOB==================*/
/* line 1727, ../scss/main.styles.scss */
.job-details {
  max-width: 1000px;
  margin: auto;
}

/* line 1732, ../scss/main.styles.scss */
.intro-contact-job {
  text-align: center;
  padding: 40px 0;
}
/* line 1735, ../scss/main.styles.scss */
.intro-contact-job h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  color: #5311a1;
  font-size: 40px;
  text-transform: uppercase;
}
/* line 1741, ../scss/main.styles.scss */
.intro-contact-job h5 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 16px;
}

/* line 1747, ../scss/main.styles.scss */
.content-detail {
  margin-bottom: 30px;
}
/* line 1749, ../scss/main.styles.scss */
.content-detail .title-job {
  text-align: center;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0;
}

/* line 1758, ../scss/main.styles.scss */
.wrap-inner-main-heading {
  margin-bottom: 30px;
}

/* line 1762, ../scss/main.styles.scss */
.wrap-inner-title-jobs {
  position: relative;
}
/* line 1764, ../scss/main.styles.scss */
.wrap-inner-title-jobs:before {
  position: absolute;
  content: '';
  border: 1px solid #5311a1;
  width: 100%;
  bottom: 6px;
}

/* line 1773, ../scss/main.styles.scss */
.job-title {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  background: #fff;
  padding-right: 5px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 20px;
}

/* line 1783, ../scss/main.styles.scss */
.wrapp-collapse-toggle {
  display: inline-block;
  position: relative;
  background: #fff;
  padding-left: 5px;
  float: right;
}

/* line 1791, ../scss/main.styles.scss */
.overlay {
  border: 1px solid #ebebeb;
  padding: 10px;
  margin-bottom: 30px;
}
/* line 1795, ../scss/main.styles.scss */
.overlay:hover {
  border: 1px solid #5311a1;
}

/* line 1800, ../scss/main.styles.scss */
.inner-overlay {
  border: 1px solid #ebebeb;
  padding: 50px;
}
/* line 1803, ../scss/main.styles.scss */
.inner-overlay:hover {
  border: 1px solid #5311a1;
}
/* line 1806, ../scss/main.styles.scss */
.inner-overlay:hover > .on {
  display: block;
}
/* line 1809, ../scss/main.styles.scss */
.inner-overlay:hover > .off {
  display: none;
  opacity: 0;
}
/* line 1813, ../scss/main.styles.scss */
.inner-overlay:hover > h3 {
  color: #5311a1;
}

/* line 1820, ../scss/main.styles.scss */
.off {
  display: block;
  max-width: 100px;
  margin: auto;
  transition: all 2s linear;
}

/* line 1827, ../scss/main.styles.scss */
.on {
  display: none;
  max-width: 100px;
  margin: auto;
  transition: all 2s linear;
}

/* line 1834, ../scss/main.styles.scss */
.inner-overlay h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 25px;
  text-align: center;
  color: #ebebeb;
  padding: 10px 0;
}

/* line 1842, ../scss/main.styles.scss */
.select-date {
  max-width: 700px;
  margin: auto;
}

/* line 1847, ../scss/main.styles.scss */
.form-control.date {
  border-radius: 0;
  height: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  /* -webkit-appearance: none;*/
}

/* line 1857, ../scss/main.styles.scss */
.box-attach {
  border: 1px solid #ebebeb;
  max-width: 690px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
/* line 1863, ../scss/main.styles.scss */
.box-attach h5 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  margin-bottom: 0;
  color: #898989;
}
/* line 1868, ../scss/main.styles.scss */
.box-attach h6 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-style: italic;
  color: #d2d0d0;
}

/* line 1875, ../scss/main.styles.scss */
.content-detail .form-control {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}
/* line 1881, ../scss/main.styles.scss */
.content-detail .form-control.jobID {
  height: 40px;
}

/* line 1886, ../scss/main.styles.scss */
.form-jobID {
  padding: 30px 0;
  max-width: 690px;
  margin: auto;
}

/* line 1892, ../scss/main.styles.scss */
.checkbox label, .radio label {
  font-family: 'BodoniSvtyTwoITCTT-Book';
}

/* line 1896, ../scss/main.styles.scss */
.know-job {
  max-width: 690px;
  margin: auto;
  padding: 30px 0;
}
/* line 1900, ../scss/main.styles.scss */
.know-job .referred {
  padding: 20px 0;
}
/* line 1902, ../scss/main.styles.scss */
.know-job .referred h5 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  line-height: 3em;
}

/*========HOST EVENTS=====*/
/* line 1911, ../scss/main.styles.scss */
.sopFdl {
  margin-bottom: 80px;
}

/* line 1916, ../scss/main.styles.scss */
.setupPart {
  position: relative;
  padding: 5% 0;
}

@media (min-width: 1200px) {
  /* line 1922, ../scss/main.styles.scss */
  .setupPart:before {
    content: '';
    background: #5311a1;
    position: absolute;
    width: 5px;
    height: 40px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  /* line 1935, ../scss/main.styles.scss */
  .setupPart:after {
    content: '';
    width: 1px;
    height: 24em;
    position: absolute;
    background: #ccc;
    left: 0;
    right: 0;
    margin: auto;
    top: 96px;
  }
}
@media (min-width: 1200px) {
  /* line 1949, ../scss/main.styles.scss */
  .setupPart.last:after {
    height: 18em;
  }
}
/* line 1955, ../scss/main.styles.scss */
.sopImage .img-content {
  text-align: center;
  margin-bottom: 30px;
}
/* line 1958, ../scss/main.styles.scss */
.sopImage .img-content img {
  max-width: 293px;
  position: relative;
}

@media (min-width: 1200px) {
  /* line 1965, ../scss/main.styles.scss */
  .sopImage .img-content.left {
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* line 1974, ../scss/main.styles.scss */
  .sopImage .img-content.left:before {
    content: '';
    /* background: #000; */
    position: absolute;
    width: 293px;
    height: 270px;
    border: 1px solid #ccc;
    bottom: 32px;
    /* left: 9em; */
                /*
z-index: -1;*/
    right: 70px;
  }
}
@media (min-width: 1200px) {
  /* line 1990, ../scss/main.styles.scss */
  .sopImage .img-content.right {
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* line 1999, ../scss/main.styles.scss */
  .sopImage .img-content.right:before {
    content: '';
    /* background: #000; */
    position: absolute;
    width: 297px;
    height: 270px;
    border: 1px solid #ccc;
    bottom: 32px;
    /* left: 9em; */
                /*
z-index: -1;*/
    left: 70px;
  }
}
/* line 2015, ../scss/main.styles.scss */
.sopDesc .content-article {
  text-align: center;
}
/* line 2018, ../scss/main.styles.scss */
.sopDesc h3 {
  font-family: 'proxima_novalight';
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 2023, ../scss/main.styles.scss */
.sopDesc h2 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  text-transform: uppercase;
  color: #5311a1;
  font-weight: bold;
}
/* line 2029, ../scss/main.styles.scss */
.sopDesc p {
  font-family: 'proxima_novalight';
}

@media (min-width: 1200px) {
  /* line 2035, ../scss/main.styles.scss */
  .sopDesc .content-article.right {
    text-align: left;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 2042, ../scss/main.styles.scss */
  .sopDesc .content-article.left {
    text-align: right;
    margin-right: 20px;
  }
}
/*=============EVENTS page==========*/
/*
.hero-ue
    {
        padding:13em 0;
    }
*/
@media (min-width: 1200px) {
  /* line 2056, ../scss/main.styles.scss */
  .hero-ue {
    overflow: hidden;
    min-height: 420px;
    padding: 0;
  }
}
/* line 2063, ../scss/main.styles.scss */
.upcoming-events {
  margin-top: -20em;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  /* line 2069, ../scss/main.styles.scss */
  .upcoming-events {
    margin-top: 0;
  }
}
/* line 2075, ../scss/main.styles.scss */
.upcoming {
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 1200px) {
  /* line 2075, ../scss/main.styles.scss */
  .upcoming {
    margin-bottom: 0;
  }
}
/* line 2081, ../scss/main.styles.scss */
.upcoming .top-title-ue {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  color: #fff;
  font-size: 45px;
  text-align: center;
  position: relative;
  display: inline-block;
}
@media (max-width: 1200px) {
  /* line 2081, ../scss/main.styles.scss */
  .upcoming .top-title-ue {
    color: #312e2e;
    margin: 30px 0;
  }
}
/* line 2094, ../scss/main.styles.scss */
.upcoming .top-title-ue:before {
  content: '';
  background: url(../img/left-leaf-ue.png);
  position: absolute;
  width: 52px;
  height: 23px;
  left: -49px;
  display: block;
  background-repeat: no-repeat;
  bottom: 10px;
}
@media (max-width: 1200px) {
  /* line 2094, ../scss/main.styles.scss */
  .upcoming .top-title-ue:before {
    background: url(../img/left-leaf-menu.png);
    background-repeat: no-repeat;
  }
}
@media (max-width: 480px) {
  /* line 2094, ../scss/main.styles.scss */
  .upcoming .top-title-ue:before {
    display: none;
  }
}
/* line 2113, ../scss/main.styles.scss */
.upcoming .top-title-ue:after {
  content: '';
  background: url(../img/right-leaf-ue.png);
  position: absolute;
  width: 52px;
  height: 23px;
  right: -54px;
  display: block;
  background-repeat: no-repeat;
  bottom: 10px;
}
@media (max-width: 1200px) {
  /* line 2113, ../scss/main.styles.scss */
  .upcoming .top-title-ue:after {
    background: url(../img/right-leaf-menu.png);
    background-repeat: no-repeat;
  }
}
@media (max-width: 480px) {
  /* line 2113, ../scss/main.styles.scss */
  .upcoming .top-title-ue:after {
    display: none;
  }
}

/* line 2142, ../scss/main.styles.scss */
.single-ue-content {
  margin-bottom: 30px;
}

@media (min-width: 480px) and (max-width: 1200px) {
  /* line 2147, ../scss/main.styles.scss */
  .single-ue-content {
    margin: auto;
    width: 428px;
    margin-bottom: 30px;
  }
}
/* line 2154, ../scss/main.styles.scss */
.title-date {
  position: relative;
  float: right;
}
/* line 2155, ../scss/main.styles.scss */
.title-date p {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3em;
  color: #fff;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  padding-bottom: 13px;
}
/* line 2165, ../scss/main.styles.scss */
.title-date h3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 48px;
  line-height: 1.3em;
  color: #fff;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  margin-left: 10px;
  position: relative;
}
/* line 2166, ../scss/main.styles.scss */
.title-date h3:before {
  content: '';
  background: #fff;
  position: absolute;
  height: 3px;
  width: 50px;
  right: 0;
}

@media (max-width: 1200px) {
  /* line 2186, ../scss/main.styles.scss */
  .title-date p {
    color: #312e2e;
  }
}
@media (max-width: 1200px) {
  /* line 2192, ../scss/main.styles.scss */
  .title-date {
    float: none;
  }
}
/*.title-date:before {
    content: '';
    background: #fff;
    position: absolute;
    height: 3px;
    width: 50px;
    right: 0;
}*/
@media (max-width: 1200px) {
  /* line 2207, ../scss/main.styles.scss */
  .title-date h3:before {
    background: #312e2e;
  }
}
@media (max-width: 1200px) {
  /* line 2213, ../scss/main.styles.scss */
  .title-date h3 {
    color: #312e2e;
  }
}
/* line 2218, ../scss/main.styles.scss */
.wrapp-inner-title-date {
  padding-top: 10px;
}

@media (max-width: 1200px) {
  /* line 2223, ../scss/main.styles.scss */
  .wrapp-inner-title-date {
    text-align: center;
  }
}
/* line 2228, ../scss/main.styles.scss */
.themes {
  padding-top: 25px;
}
/* line 2230, ../scss/main.styles.scss */
.themes h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  color: #312e2e;
  font-size: 27px;
}

/* line 2237, ../scss/main.styles.scss */
.readMore {
  text-align: right;
}
/* line 2239, ../scss/main.styles.scss */
.readMore a {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 16px;
  color: #312e2e;
}

/* line 2246, ../scss/main.styles.scss */
.wrap-inner-title-past {
  position: relative;
}
/* line 2248, ../scss/main.styles.scss */
.wrap-inner-title-past:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  top: 25px;
  background: #e1e2e7;
}

/* line 2258, ../scss/main.styles.scss */
.past-title {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  background: #fff;
  padding-right: 5px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 35px;
}

/* line 2268, ../scss/main.styles.scss */
.wrap-inner-arrow {
  position: relative;
}
/* line 2270, ../scss/main.styles.scss */
.wrap-inner-arrow:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  top: 8px;
  background: #e1e2e7;
}

/* line 2280, ../scss/main.styles.scss */
.left-arrow {
  float: left;
  background: #fff;
  padding-right: 5px;
}

/* line 2286, ../scss/main.styles.scss */
.right-arrow {
  float: right;
  background: #fff;
  padding-left: 5px;
}

@media (min-width: 480px) and (max-width: 767px) {
  /* line 2293, ../scss/main.styles.scss */
  .single-past-events {
    margin: auto;
    width: 428px;
    text-align: center;
    padding: 30px 0;
  }
}
@media (max-width: 480px) {
  /* line 2302, ../scss/main.styles.scss */
  .single-past-events {
    text-align: center;
    padding: 30px 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 2309, ../scss/main.styles.scss */
  .wrapp-inner-title-date.past-events-date {
    text-align: left;
  }
}
/* line 2314, ../scss/main.styles.scss */
.title-date.past {
  float: none;
  padding: 40px 0;
}
/* line 2317, ../scss/main.styles.scss */
.title-date.past h3 {
  color: #000;
}
/* line 2318, ../scss/main.styles.scss */
.title-date.past h3:before {
  background: #000;
}
/* line 2323, ../scss/main.styles.scss */
.title-date.past p {
  color: #000;
}

/* line 2328, ../scss/main.styles.scss */
.past-themes h4 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  color: #312e2e;
  font-size: 24px;
}

/*===========MENU===========*/
/* line 2336, ../scss/main.styles.scss */
.plate-menu {
  text-align: center;
}

/* line 2340, ../scss/main.styles.scss */
.menu-area {
  max-width: 980px;
  margin: auto;
}

/* line 2345, ../scss/main.styles.scss */
.top-intro-menu {
  padding: 40px 0;
}

/* line 2349, ../scss/main.styles.scss */
.top-title-menu {
  text-align: center;
  max-width: 800px;
  margin: auto;
}
/* line 2353, ../scss/main.styles.scss */
.top-title-menu h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 35px;
  position: relative;
  display: inline-block;
}
/* line 2358, ../scss/main.styles.scss */
.top-title-menu h3:before {
  content: '';
  background: url(../img/left-leaf-menu.png);
  width: 52px;
  height: 20px;
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  left: -48px;
  top: 13px;
}
@media (max-width: 400px) {
  /* line 2358, ../scss/main.styles.scss */
  .top-title-menu h3:before {
    display: none;
  }
}
/* line 2372, ../scss/main.styles.scss */
.top-title-menu h3:after {
  content: '';
  background: url(../img/right-leaf-menu.png);
  width: 52px;
  height: 20px;
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  right: -52px;
  top: 13px;
}
@media (max-width: 400px) {
  /* line 2372, ../scss/main.styles.scss */
  .top-title-menu h3:after {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 2353, ../scss/main.styles.scss */
  .top-title-menu h3 {
    font-size: 28px;
  }
}
/* line 2391, ../scss/main.styles.scss */
.top-title-menu p {
  font-family: 'proxima_novalight';
}

/* line 2396, ../scss/main.styles.scss */
.leaf-banner {
  padding: 28px 0;
}

/* line 2400, ../scss/main.styles.scss */
.menu-content-intro {
  text-align: center;
  padding: 120px 0 20px;
}
/* line 2403, ../scss/main.styles.scss */
.menu-content-intro .category-title-menu {
  padding: 20px 0;
}
/* line 2405, ../scss/main.styles.scss */
.menu-content-intro .category-title-menu h3 {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 28px;
  font-weight: bold;
}

/* line 2421, ../scss/main.styles.scss */
.wrap-inner-main-menu {
  margin-bottom: 30px;
}
/* line 2423, ../scss/main.styles.scss */
.wrap-inner-main-menu p {
  font-family: 'proxima_novalight';
}

/* line 2429, ../scss/main.styles.scss */
.wrap-inner-title {
  position: relative;
}
/* line 2432, ../scss/main.styles.scss */
.wrap-inner-title:before {
  position: absolute;
  content: '';
  border: 1px dotted;
  width: 100%;
  bottom: 6px;
}

/* line 2441, ../scss/main.styles.scss */
.name-prod {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  background: #fff;
  padding-right: 5px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 20px;
}

/* line 2451, ../scss/main.styles.scss */
.price-prod {
  display: inline-block;
  float: right;
  position: relative;
  background: #fff;
  padding-left: 5px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 20px;
}

/* line 2464, ../scss/main.styles.scss */
.tiles-wrap li {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2469, ../scss/main.styles.scss */
.tiles-wrap li img {
  width: 100%;
  height: auto;
}

/* line 2477, ../scss/main.styles.scss */
.reservation-toggle {
  background: none repeat scroll 0 0 #5311a1;
  bottom: 50%;
  padding: 7px 15px;
  position: fixed;
  cursor: pointer;
  max-width: 97px;
  right: 0;
  text-align: center;
}
/* line 2487, ../scss/main.styles.scss */
.reservation-toggle figure {
  max-width: 37px;
  margin: auto;
  margin-bottom: 5px;
}
/* line 2493, ../scss/main.styles.scss */
.reservation-toggle h4 {
  font-size: 11px;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 768px) {
  /* line 2504, ../scss/main.styles.scss */
  .modal-dialog {
    width: 500px;
    margin: 30px auto;
  }
}
/* line 2511, ../scss/main.styles.scss */
.info-reservation-area {
  background: #555555;
  padding: 28px 15px;
}
/* line 2514, ../scss/main.styles.scss */
.info-reservation-area .info-reservation {
  padding: 20px 0;
}
/* line 2516, ../scss/main.styles.scss */
.info-reservation-area .info-reservation h4 {
  font-family: 'proximanova-semibold-webfont';
  color: #fff;
  text-align: center;
}
/* line 2522, ../scss/main.styles.scss */
.info-reservation-area .info-reservation p {
  color: #fff;
  text-align: center;
  font-family: 'proxima_novalight';
}
